<div class="panel panel-default dnb-actions">
    <div id="actionsHeading" class="panel-heading">{{'ACTIONS_L' | translate}}</div>

    <div id="actionsBtnGroup" class="btn-group-vertical" role="group">
        <button id="dwnldScreenBtn" ng-if="baseCtrl.config.features.screenshots"
                type="submit" class="btn btn-default"
                ng-click="screenshot();"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'">
            {{'ACTIONS_SCREENSHOT' | translate}}
        </button>

        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openPrintDialog()"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-show="actionsCtrl.enablePrinting">
            {{'ACTIONS_PRINT' | translate}}
        </button>

        <button type="submit" class="btn btn-default"
                ng-click="actionsCtrl.openChangeMediaDialog()"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-show="actionsCtrl.mediaList.length > 0">
            {{'ACTIONS_CHANGE_MEDIA' | translate}}
        </button>

        <span  ng-if="actionsCtrl.shutdownByOs && actionsCtrl.enableSaveEnvironment">
            <button type="submit"
                    class="btn btn-default"
                    ng-click="actionsCtrl.openSaveEnvironmentDialog()"  ng-disabled="actionsCtrl.emulator.state != 'STOPPED'"
                    ng-show="actionsCtrl.type">{{'ACTIONS_SAVE_ENV' | translate}}</button>

            <button ng-if="actionsCtrl.emulator.state != 'STOPPED'"
                    uib-tooltip="{{'ACTIONS_SAVESESSION_HELP' | translate}}"
                    type="button"
                    class="btn btn-default" > <span class="glyphicon glyphicon-question-sign"></span></button>
        </span>

        <button ng-if="!actionsCtrl.shutdownByOs && actionsCtrl.enableSaveEnvironment"
                type="submit"
                class="btn btn-default"
                ng-click="actionsCtrl.openSaveEnvironmentDialog()"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED' && actionsCtrl.emulator.state !== 'STOPPED'"
                ng-show="actionsCtrl.type">
            {{'ACTIONS_SAVE_ENV' | translate}}
        </button>
        
        <button type="submit"
                ng-hide="actionsCtrl.isKVM"
                ng-if="baseCtrl.config.features.snapshots"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                class="btn btn-default"
                ng-click="actionsCtrl.checkpoint()">
            {{'ACTIONS_SNAPSHOT' | translate}}
        </button>

        <button type="submit" class="btn btn-default"
                ng-click="actionsCtrl.sendCtrlAltDel()"

                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'">
            {{'ACTIONS_CTRLALTDEL' | translate}}
        </button>

        <button type="submit" class="btn btn-default"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-click="actionsCtrl.sendEsc()">
            {{'ACTIONS_ESC' | translate}}
        </button>
        <button type="submit" class="btn btn-default"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-click="actionsCtrl.restartEmulator()">
            {{'ACTIONS_RESTART' | translate}}
        </button>

        <button class="btn btn-default" 
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-click="actionsCtrl.openNetworkDialog()">
            Connection Info
        </button>

        <button class="btn btn-default"
                ng-if="!actionsCtrl.emulator.detached && actionsCtrl.isNetworkEnvironment"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                ng-click="actionsCtrl.openDetachDialog()" >
            Detach Network
        </button>

        <button type="submit" class="btn btn-default"
                ng-if="!actionsCtrl.emulator.detached"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED' && actionsCtrl.emulator.state !== 'STOPPED'"
                ng-click="actionsCtrl.stopEmulator()">
            {{'ACTIONS_STOP' | translate}}
        </button>

        <button type="submit" class="btn btn-default"
                ng-if="actionsCtrl.emulator.detached"
                ng-click="actionsCtrl.close()">
            Close
        </button>

        <button type="submit" class="btn btn-default" ng-click="actionsCtrl.openChangeEnvDialog()"
                ng-if="actionsCtrl.objEnvironments.length > 1"
                ng-disabled="actionsCtrl.emulator.state !== 'STARTED'"
                >Alternative Environments</button>

        <button  class="btn btn-default"
                 uib-dropdown-toggle ng-if="actionsCtrl.components.length > 1"
                 uib-dropdown on-toggle="toggled(open)">
            <div>Switch View</div>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="choice in actionsCtrl.components">
                    <a ng-click="actionsCtrl.switchEmulators(choice)" href>{{choice.title}}</a>
                </li>
            </ul>
        </button>
    </div>
</div>

