<div class="modal-header">
    <h3 class="modal-title">{{'CHANGEM_TITLE' | translate}}</h3>
</div>

<div class="modal-body">
    <uib-tabset id="drives" active="openChangeMediaDialogCtrl.activeIndex">
        <uib-tab ng-repeat="mediaItem in openChangeMediaDialogCtrl.mediaList" heading="Drive {{mediaItem.driveId}}" >
            <uib-tabset id="change-media-tabhost">
                <uib-tab ng-repeat="medium in mediaItem.mediumTypes" heading="{{medium}}">
                    <form>
                        <div ng-repeat="item in openChangeMediaDialogCtrl.entriesByMedia(openChangeMediaDialogCtrl.activeIndex, medium)">
                            <label>
                                <input type="radio" ng-model="mediaItem.chosen_medium_label" value="{{item.id}}"> {{ item.localAlias ? item.localAlias : item.id }}
                            </label>
                        </div>
                        <input type="radio" ng-model="mediaItem.chosen_medium_label" value=""> <b>* Empty Drive *</b>
                    </form>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" 
            ng-click="openChangeMediaDialogCtrl.changeMedium(openChangeMediaDialogCtrl.activeIndex);" 
            ng-disabled="openChangeMediaDialogCtrl.isChangeMediaSubmitting">{{'CHANGEM_OK' | translate}}</button>
        <button class="btn btn-default" type="button" ng-click="$close()">{{'CHANGEM_CANCEL' | translate}}</button>
    </div>
    