<div class="main-container container">

    <div class="row">
        <div class="col-xs-12"><div id="header"><img height="70" src="img/logo.png" /></div></div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <span class="visible-xs navbar-brand">{{'BASE_MENU_L' | translate}}</span>
                    </div>
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">{{'BASE_SHOW_MENU' | translate}}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="menuTitle" ng-show="isCollapsed" >Menu</div>
                    <div uib-collapse="isCollapsed" >
                        <ul class="nav navbar-nav">
                            <!-- <li><a ng-click="baseCtrl.open()" href="">{{'BASE_MENU_HELP'| translate}}</a></li>  -->
                            <li><a ui-sref="admin.standard-envs-overview({showObjects: false, showContainers: false})" data-ui-sref-opts="{reload: true}" href="">{{'BASE_MENU_ENVS'| translate}}</a></li>

                            <li ng-if="baseCtrl.config.features.software"><a ui-sref="admin.sw-overview" href="">{{'BASE_MENU_SW'| translate}}</a></li>
                            <li ng-if="baseCtrl.config.features.objects"><a ui-sref="admin.object-overview" href="">{{'BASE_MENU_OBJECTS'| translate}}</a></li>
                            <li><a ui-sref="admin.uvi" href="">UVI</a></li>
                            <li ng-if="baseCtrl.config.features.handle"><a ui-sref="admin.handles" href="">{{'BASE_MENU_HANDLE'| translate}}</a></li>
                            <li ng-if="baseCtrl.config.features.network_sessions"><a ui-sref="admin.networking" href="">Networks</a></li>
                            <!--<li><a ui-sref="admin.synchronize-image-archives" href="">{{'BASE_MENU_UPLOAD'| translate}}</a></li>-->
                            <li><a ui-sref="admin.images" href="">Images</a></li>
                            <hr>
                            <li><a ui-sref="admin.settings" href="">Administration</a></li>
                            <li ng-if="baseCtrl.config.helpUrl"><a href="{{baseCtrl.config.helpUrl}}" target="_blank">{{'BASE_MENU_HELP' | translate}}</a></li>
                            <li ng-if="baseCtrl.authEnabled"><a href="" ng-click="baseCtrl.logout()">Logout</a> </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div ui-view="actions"></div>
        </div>

        <div class="col-sm-9">
            <div ui-view="wizard"></div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">
            <span ng-if="baseCtrl.userInfo.status === '0'">
                <span ng-if="baseCtrl.userInfo.username">User: {{baseCtrl.userInfo.username}} </br></span>
                <span ng-if="baseCtrl.userInfo.role">Role: {{baseCtrl.userInfo.role}} </br></span>
            </span>
            Build: {{baseCtrl.buildInfo}}</br>
            UI-Build: {{baseCtrl.uiCommitHash}}
        </p>
    </div>
</div>
