<!--
<h2 class="m-t-0">{{'EDITENV_L' | translate}}</h2>
-->
<h3>{{editEnvCtrl.envTitle}}</h3>
<form name="form">
<nav class="navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav nav-pills">
                <li><a ng-click="editEnvCtrl.run()" href=""
                        class="top-bar-link" ng-show="editEnvCtrl.env.archive != 'remote'">
                        <img src="img/run.png">Run
                    </a>
                </li>
                <li><a ng-click="editEnvCtrl.saveEdit()" href="" class="top-bar-link"
                        ng-show="editEnvCtrl.env.archive != 'remote'">
                        <img src="img/save.png">Save</a>
                </li>
                <li><a ng-click="editEnvCtrl.deleteEnvironment(editEnvCtrl.env.envId)" href="" class="top-bar-link"
                        ng-show="editEnvCtrl.env.archive != 'remote'">
                        <img src="img/delete.png">Delete</a>
                </li>
                <li ng-if="!editEnvCtrl.config.features.standalone && !editEnvCtrl.isObjectEnv && editEnvCtrl.env.archive == 'default'">
                    <a href="" ng-click="editEnvCtrl.replicateImage(editEnvCtrl.env.envId, 'publish')" class="top-bar-link">
                    <img src="img/publish.png">{{'EDITENV_PUBLISH' | translate}}</a>
                </li>
                <li ng-if="!editEnvCtrl.config.features.standalone && editEnvCtrl.env.archive === 'remote'">
                    <a href="" ng-click="editEnvCtrl.replicateImage(editEnvCtrl.env.envId, 'import')" class="top-bar-link">
                        <img src="img/replicate.png">Replicate</a>
                </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                    <a class="top-bar-link"
                        ui-sref="admin.edit-env({envId: editEnvCtrl.env.envId, objEnv: editEnvCtrl.isObjectEnv})"
                        ui-sref-opts="{reload: true}">
                        <img src="img/restart.png">{{'EDITENV_RESET' | translate }}
                    </a>
                </li>
                <li>
                    <a class="top-bar-link"
                        ui-sref="admin.standard-envs-overview({showObjects: editEnvCtrl.isObjectEnv})">
                        <img src="img/back.png">{{'ERROR_RETURN_BTN' | translate}}
                    </a>
                </li>
            </ul>
    </div>
</nav>
        
<uib-tabset active="editEnvCtrl.view">
    <uib-tab index="0" ng-click="" heading="Details">
        <br>
        <div class="form-group">
            <div>
                <label>{{'EDITENV_ID' | translate}}:</label> {{editEnvCtrl.env.envId}}
            </div>

            <div>
                <label>{{'EDITENV_TIMESTAMP' | translate}}:</label> {{editEnvCtrl.timestamp}}
            </div>
            <div class="input-group">
                <label> Name: </label>
                <span ng-if="!editEnvCtrl.editName">{{editEnvCtrl.envTitle}} <a href=""
                        ng-click="editEnvCtrl.editName=true"><i class="glyphicon glyphicon-pencil"></i></a></span>
                <span ng-if="editEnvCtrl.editName === true && editEnvCtrl.env.archive != 'remote'" class="input-group">
                    <input type="text" class="form-control" ng-model="editEnvCtrl.envTitle"
                        placeholder="{{'Name' | translate}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                            ng-click="editEnvCtrl.editName=false">done</button>
                    </span>
                </span>
            </div>
            <div class="input-group">
                <label>{{'EDITENV_OS' | translate}}:</label> <span ng-click="editEnvCtrl.editOs=true"
                    ng-if="!editEnvCtrl.editOs">{{editEnvCtrl.os.label}} <a href=""
                        ng-click="editEnvCtrl.editOs=true"><i class="glyphicon glyphicon-pencil"></i></a></span>
                <ui-select ng-if="editEnvCtrl.editOs" ng-model="editEnvCtrl.os" theme="bootstrap"
                    on-select="editEnvCtrl.editOs=false" title="{{'EDITENV_OS' | translate}}" required>
                    <ui-select-match placeholder="{{'EDITENV_OS' | translate}}">{{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices repeat="os in editEnvCtrl.osList | filter: $select.search">
                        <span ng-bind-html="os.label | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        
    <!--
    <div class="form-group" ng-if="editEnvCtrl.author">
        <label>{{'NEW_CONTAINER_AUTHOR' | translate}}:</label> <span ng-if="!editEnvCtrl.editMode"> {{editEnvCtrl.author}}</span>
        <input type="text" ng-if="editEnvCtrl.editMode" class="form-control" ng-model="editEnvCtrl.author">
    </div>
-->

    <div>
        <label>Handle:</label> <span id="osl" ng-if="editEnvCtrl.handle">{{editEnvCtrl.handle}}</span>
       <b> ---  <a
              ng-if="!editEnvCtrl.handle"
              ng-click="editEnvCtrl.createHandle()"
              style="cursor: pointer;">{{'EDITEN_CREATE_HANDLE' | translate}}</a>
       </b>
    </div>

    <div class="form-group">
        <label>Last change</label>
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-click="editEnvCtrl.editDesc=true">
                    <span ng-if="!editEnvCtrl.editDesc" ng-bind-html="editEnvCtrl.envDescription"></span>
                </div>
                <text-angular ng-if="editEnvCtrl.editDesc" ng-model="editEnvCtrl.envDescription"
                    placeholder="{{'EDITENV_DESC_PH' | translate}}" required></text-angular>
                <button class="btn btn-default" style="float: right;" ng-click="editEnvCtrl.editDesc=false"
                    type="button" ng-if="editEnvCtrl.editDesc">done</button>
            </div>
            <text-angular ng-if="editEnvCtrl.editHelpText" ng-model="editEnvCtrl.envHelpText">
            </text-angular>
            <button class="btn btn-default" style="float: right" type="button"
                ng-click="editEnvCtrl.editHelpText=false" ng-if="editEnvCtrl.editHelpText">done</button>
        </div>
    </div>

    <!--
    <div class="form-group" ng-if="!editEnvCtrl.linuxRuntime">
        <label>{{'EDITENV_HELPTEXT' | translate}} <a href="" ng-click="editEnvCtrl.editOs=true"><i
                    class="glyphicon glyphicon-pencil"></i></a></label>
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-click="editEnvCtrl.editHelpText=true">
                    <span ng-if="!editEnvCtrl.editHelpText && editEnvCtrl.envHelpText"
                        ng-bind-html="editEnvCtrl.envHelpText"></span>
                    <span ng-if="!editEnvCtrl.editHelpText && !editEnvCtrl.envHelpText">n.a.</span>
                </div>
                <text-angular ng-if="editEnvCtrl.editHelpText" ng-model="editEnvCtrl.envHelpText">
                </text-angular>
                <button class="btn btn-default" style="float: right" type="button"
                    ng-click="editEnvCtrl.editHelpText=false" ng-if="editEnvCtrl.editHelpText">done</button>
            </div>
        </div>
    </div>
    -->
</div>

    <div class="form-group" ng-if="!editEnvCtrl.linuxRuntime">
        <label>{{'EDITENV_SOFTWARE' | translate}}</label>
        <div>
            <ul>
                <li ng-repeat="software in editEnvCtrl.env.installedSoftwareIds">
                    <a
                        ui-sref="admin.edit-object-characterization({swId: software.id, objectId: software.id, objectArchive: software.archive})">
                        {{software.label}}
                    </a>
                </li>
                <li style="list-style: none; margin-left: -1em;"><a href=""
                        ng-click="editEnvCtrl.addSoftware(editEnvCtrl.env.envId)"><span
                            class="glyphicon glyphicon-plus"></span> install software</a></li>
            </ul>
        </div>
    </div>

    <!--  <h4> {{ 'EDITENV_SYSTEM_SETTINGS'| translate }} </h4> -->
    <div class="form-group" ng-if="!editEnvCtrl.linuxRuntime">
        <label>Set machine date <input type="checkbox" ng-model="editEnvCtrl.showDateContextPicker"></label>

        <div style="padding-left: 50px" ng-if="editEnvCtrl.showDateContextPicker">
            <div ng-click="editEnvCtrl.editDate=true">
                <label>{{'EDITENV_DATE_CONTEXT' | translate}}</label>
                <span ng-if="!editEnvCtrl.editDate"></span>
                {{editEnvCtrl.datetimePicker.date}}
                </span>
                <span><a href="" ng-click="editEnvCtrl.editDate=true"><i
                    class="glyphicon glyphicon-pencil"></i></a></span>
            </div>

            <p class="input-group" ng-if="editEnvCtrl.editDate">
                <input type="text" class="form-control" datetime-picker="dd.MM.yyyy HH:mm"
                    ng-model="editEnvCtrl.datetimePicker.date" is-open="editEnvCtrl.isOpen"
                    timepicker-options="editEnvCtrl.datetimePicker.timepickerOptions"
                    datepicker-options="editEnvCtrl.datetimePicker.datepickerOptions"
                    button-bar="editEnvCtrl.datetimePicker.buttonBar"
                    ng-disabled="!editEnvCtrl.showDateContextPicker" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="!editEnvCtrl.showDateContextPicker"
                        ng-click="editEnvCtrl.openCalendar($event, prop)"><i
                            class="fa fa-calendar"></i></button></span>
        </div>
    </div>

    <br>
        <div ng-if="!editEnvCtrl.linuxRuntime">
          <h4>Runtime options</h4>
             <ui-Options-Template ui-options=editEnvCtrl.uiOptions></ui-Options-Template>
        </div>

        <hr>
        <!-- Include networking template
           NOTE: you will find networkingTemplate in app.js-->
           <div ng-if="!editEnvCtrl.linuxRuntime" class="topSkip">
            <networking-Template networking=editEnvCtrl.networking></networking-Template>
        </div>

        <hr>
        <h4>Drive Settings</h4>
        <drives-overview drives="editEnvCtrl.drives.getList()" render="editEnvCtrl.guessBinding(index)"
            select="editEnvCtrl.selectMedium(index)"></drives-overview>

        
    </div>

    <!--
    <p ng-if="editEnvCtrl.showAdvanced">
        <label>{{'EDITENV_USERSORTTAG' | translate}}:</label> <span id="tagv" ng-if="!editEnvCtrl.editTagMode">{{editEnvCtrl.userTag}}</span>
        <span ng-if="editEnvCtrl.editTagMode">

			<input id="tagi" type="text" style="max-width: 300px;"
                   ng-model="editEnvCtrl.userTag"
                   placeholder="{{'EDITENV_TAG_PH' | translate}}">
		</span>
        <button ng-if="!editEnvCtrl.editTagMode" ng-click="editEnvCtrl.editTagMode = true">{{'EDITENV_TAG_EDIT' | translate}}</button>
        <button ng-if="editEnvCtrl.editTagMode" ng-click="editEnvCtrl.editTagMode = false">{{'EDITENV_TAG_DONE' | translate}}</button>
    </p>
    -->

        <!--
            <div class="form-group" ng-show="editEnvCtrl.dependencies.length > 0" ng-if="editEnvCtrl.showAdvanced">
                <p id="objDeps">
                    <label>{{'EDITENV_OBJ_DEPENDENCIES' | translate}}:</label>
                </p>
                <ul id="objDepList">
                    <li ng-repeat="id in editEnvCtrl.dependencies"><a ui-sref="admin.edit-object-characterization({objectId: id})">{{id}}</a></li>
                </ul>
            </div>
            -->
        </uib-tab>

        <uib-tab index="2" heading="Advanced Settings">
            <div>
                <h4>{{'EDITENV_EMULATOR' | translate}}: {{editEnvCtrl.env.emulator}} </h4>
            </div>
            <!--Container emulator-->
        <div ng-show="editEnvCtrl.nameIndexes">
            <label>{{'EDITENV_CONTAINER_EMULATOR' | translate}}:</label> <span
                ng-if="!editEnvCtrl.editEmulator">{{editEnvCtrl.emulatorContainer.key}}
                <a href="" ng-click="editEnvCtrl.editEmulator=true"><i
                        class="glyphicon glyphicon-pencil"></i></a></span>
            <ui-select ng-if="editEnvCtrl.editEmulator" ng-model="editEnvCtrl.emulatorContainer" theme="bootstrap"
                on-select="editEnvCtrl.editEmulator=false" title="{{'EDITENV_CONTAINER_EMULATOR' | translate}}"
                required>
                <ui-select-match placeholder="{{'EDITENV_CONTAINER_EMULATOR' | translate}}">
                    {{$select.selected.key}}
                </ui-select-match>
                <ui-select-choices repeat="index in editEnvCtrl.nameIndexes  | filter: $select.search">
                    <span ng-bind-html="index.key
                                 | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    
        <div class="form-group">
        <label>{{'EDITENV_EMULATOR_CONFIG' | translate}}:</label>
        <div class="panel panel-default">
            <div class="panel-body">
                <div >
                    <span ng-if="!editEnvCtrl.editConfig">{{editEnvCtrl.nativeConfig}} <a href="" ng-click="editEnvCtrl.editConfig=true"><i
                        class="glyphicon glyphicon-pencil"></i></a></span>
                </div>
                <textarea ng-if="editEnvCtrl.editConfig" type="text" class="form-control"
                    ng-model="editEnvCtrl.nativeConfig"></textarea>
                <button class="btn btn-default" style="float: right" type="button"
                    ng-click="editEnvCtrl.editConfig=false" ng-if="editEnvCtrl.editConfig">done</button>
            </div>
        </div>
    </div>
</uib-tab>
<uib-tab index="1" ng-click="" heading="Revisions">
    <h4>{{'EDITENV_REV_HISTORY' | translate}}</h4>
    <div class="form-group">
        <p>
            <label>{{'EDITENV_REVS' | translate}}:</label>
        </p>
        <ul id="editEnvSoftwareList">
            <li>current version <a href="#" ng-click="editEnvCtrl.fork(editEnvCtrl.env.envId)"> [ fork ] </a></li>

            <li ng-repeat="revision in editEnvCtrl.env.revisions">
                <ng-bind-html ng-bind-html="revision.text">
                </ng-bind-html>
                <a href="#" ng-click="editEnvCtrl.fork(revision.id)"> [ fork ] </a>

                <a ng-if="editEnvCtrl.env.archive === 'default'"
                    style="cursor: pointer;" ng-click="editEnvCtrl.revert(editEnvCtrl.env.envId, revision.id)"> [
                    revert to this version ] </a>

            </li>
        </ul>
    </div>
</uib-tab>
</uib-tabset>
</form>